.Tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex: 0;
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #ccc;
}

.Tabs__currencies {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 85%;
}

.Tabs__years {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  cursor: pointer;
}

.Tabs__currency, .Tabs__year {
  padding: 0.5rem 1rem;
  background-color: #ccc;
  cursor: pointer;
}

.Tabs__currency:hover, .Tabs__year:hover {
  background-color: white;
}

.Tabs__currency.active, .Tabs__year.active {
  background-color: white;
}