.ViewData {
  display: block;
  flex: 1;
  width: 100%;
  background-color: white;
  overflow-y: auto;
}

.ViewData__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.25rem;
}

.ViewData__row:not(:last-of-type) {
  border-bottom: 1px solid #ccc;;
}

.ViewData__row-time {
  width: 20%;
  text-align: left;
}

.ViewData__row-type {
  width: 10%;
  text-align: left;
}

.ViewData__row-amount {
  width: 20%;
  text-align: left;
}

.ViewData__row-balance {
  width: 20%;
  text-align: left;
}