.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 0.25rem;
  background-color: #505050;
}
